body {
    margin: 0;
    background-color: cornsilk;
}

.random-btn {
    padding: 1.5rem 3rem;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 900;
    display: block;
}

.hand {
    margin: 3rem;
    
}

.hero {
    
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.rock-img {
    background: url(./images/rock.png);
    background-size: cover;
    padding: 5rem;
    cursor: pointer;
    border: none;
}

.showRock {
     
     background-size: cover;
     width: 10rem;
}

.paper-img {
    background: url(./images/paper.jpg);
    background-size: cover;
    padding: 5rem;
    cursor: pointer;
    border: none;
}

.scissor-img {
    background: url(./images/scissor.webp);
    background-size: cover;
    padding: 5rem;
    cursor: pointer;
    border: none;
}

.elements {
    display: flex;
}

.hand:hover {
    animation: shake 0.6s infinite;
}

@keyframes shake {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }
    25% {
        transform: translate(1px,1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px,-1px) rotate(-1deg);
    }
    75% {
        transform: translate(2px,-1px) rotate(2deg);
    }
    100% {
        transform: translate(-1px,1px) rotate(-1deg);
    }
}