body {
    margin: 0;
    background-color: cornsilk;
}

.random-btn {
    padding: 1.5rem 3rem;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 900;
}

.hand {
    margin: 3rem
}

.hero {
    
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.rock-img {
    background: url(./images/rock.png);
    background-size: cover;
    padding: 5rem;
    cursor: pointer;
    border: none;
}

.paper-img {
    background: url(./images/paper.jpg);
    background-size: cover;
    padding: 5rem;
    cursor: pointer;
    border: none;
}

.scissor-img {
    background: url(./images/scissor.jpg);
    background-size: cover;
    padding: 5rem;
    cursor: pointer;
    border: none;
}

.elements {
    display: flex;
}