html, body {
    margin: 0;
    padding: 0;
    margin-left: 3rem;
    margin-right: 3rem;
}

h1 {
    text-align: center;
     font-size: 3rem
}

#start {
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem 2rem;
    font-size: 2rem;
    font-weight: 900;
    
}


#elementsEl {
    display: flex;
    padding: 1rem;
}

#rock,#paper,#scissor {
    padding: 5rem;
    margin-right: 1rem;

}

img {
    height: 100%;
    width: auto;
}

/* layout*/

.scores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1rem;
    line-height: 1.5;
    font-size: 15px;
    font-weight: 700;
    
}

.elements {
    display: flex;
    justify-content: center;
    background: orange
}

.rock-img {
    background: url(./images/rock.png);
    background-size: cover;
}

.paper-img {
    background: url(./images/paper2.png);
    background-size: cover;
}

.scissor-img {
    background: url(./images/scissors2.png);
    background-size: cover;
    
}

.firstContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondContainer {
    display: flex;
    justify-content: center;
    font-size: 3rem
              
}

.imageMessage {
    justify-content: center;
    text-align: center;
    padding: 10rem;
    font-size: 3rem
}

#rock:hover {
    cursor: pointer;
}

#hero {
    
    justify-content: center;
    align-items: center;
    align-content: center;
}

#container {
    display: flex;
}

#firstEl,#secondEl,#messageEl,#vs {
    padding: 1rem;
}

/* Results */

.friendship,.murder,.revenge,.draw  {
  
    background-size: cover;
    padding: 4rem;
    object-fit: scale-down;
    background-position: center; 
}


.friendship {
    background: url(./images/friendship.png);
    
}

.murder {
    background: url(./images/murder.png);
  
}

.revenge {
    background: url(./images/revenge.png);
    padding: 3rem;

}

.draw {
    background: url(./images/draw.jpeg);
    padding: 9rem;
    background-size: contain;

}

#resetEl {
    justify-content: center;
    align-self: center;
    border: black 2px solid;
    padding: 1.5rem 0.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    width: 30%;
}

/* Mini animation*/

.hand:hover {
    animation: shake 0.6s infinite;
}

@keyframes shake {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }
    25% {
        transform: translate(1px,1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px,-1px) rotate(-1deg);
    }
    75% {
        transform: translate(2px,-1px) rotate(2deg);
    }
    100% {
        transform: translate(-1px,1px) rotate(-1deg);
    }
}

@media (max-width: 650px) {
    .elements {
        flex-direction: column;
    }
    
    .hand {
        width: 3px;
        height: auto;
        align-self: center;
        margin: 2rem 0rem 2rem 0rem;
        
    }
    
    .friendship,.murder,.draw,.revenge {
        padding: 1rem;
        
    }
    
    .secondContainer {
      font-size: 2rem;  
    }
}